<%= @bookmark.title %> <%= @bookmark.url %><br>
<form method="post" action="/bookmarks/update/<%= @bookmark.id %>">
  <input type="text" name="title" value="<%= @bookmark.title %>" />
  <input type="text" name="url" value="<%= @bookmark.url %>" />
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Update" />
</form>
